@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #000000
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: whitesmoke;
}

header{
    width: 100%;
    padding: 0.01rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header .score-level{
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: space-evenly;
}

h4{
    color: black;
    font-weight: 400;
}

nav{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--white);
}

nav h1{
    font-size: 4rem;
}

main{
    width: 100%;
    height: 80vh;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    width: 80%;
    height: 10rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
ul li{
    width: auto;
    margin: 0rem auto;
    padding: 0.5em;
    list-style-type: none;
    font-size: 19px;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
}

ul li:hover{
    background-color: var(--light);
}

h1,span{
    font-weight: 700;
    color: var(--orange);
}

h5{
    position: absolute;
    bottom: 0;
    left: 0.4rem;
    font-size: xx-small;
    color: var(--orange);
    text-transform: uppercase;
}

.new-game-menu{
    animation: menu_in 1s ease-in 0.5s alternate forwards;
}
.continue-menu{
    animation: menu_in 1s ease-in 0.7s alternate forwards;
}
.high-score-menu{
    animation: menu_in 1s ease-in 0.9s alternate forwards;
}
.select-level-menu{
    animation: menu_in 1s ease-in 1s alternate forwards;
}
.help-menu{
    animation: menu_in 1s ease-in 1.2s alternate forwards;
}

@keyframes menu_in {
    0%{
        opacity: 0;
        transform: translate(-5rem);
    }
    100%{
        opacity: 100;
    }
}

@keyframes menu_out {
    0%{
        opacity: 100;
        transform: translateX(0rem);
    }
    100%{
        opacity: 0;
        transform: translate(-5rem);
    }
}

footer{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    bottom: 0;
    margin-bottom: 1rem;
}

.buttons{
    width: 30%;
    height: 6rem;
    position: relative;
    margin: 0px auto 0rem auto;
    display: block;
}

.control-btn{
    padding: 0.2rem 0.6rem;
    border: 1px solid var(--black);
    position: absolute;
    background-color: var(--danger);
    color: var(--black);
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50px;
    box-shadow: 1px 1px 3px var(--dark);
} 

button:active{
    padding: 1.5rem;
    z-index: 1;
}

.up{
    top: 0rem;
    left: 1.8rem;
    animation: up 1s ease-out alternate forwards;
}

@keyframes up {
    0%{
        transform: translateY(2rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

.right{
    top: 1.8rem;
    right: 0rem;
    animation: right 1s ease-out alternate forwards;
}

@keyframes right {
    0%{
        transform: translateX(-2rem);
    }
    100%{
        transform: translateX(0rem);
    }
} 

.down{
    left: 1.8rem;
    bottom: 0rem;
    animation: down 1s ease-out alternate forwards;
}

@keyframes down {
    0%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0rem);
    }
} 

.left{
    top: 1.8rem;
    left: 0rem;
    animation: left 1s ease-out alternate forwards;
} 
@keyframes left {
    0%{
        transform: translateX(2rem);
    }
    100%{
        transform: translateX(0rem);
    }
} 

header h1{
    cursor: pointer;
}


main h1 {
    text-transform: capitalize;
}

.tetriminoes{
    width: 40%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.2rem;
}

.tetris{
    background-color: black;
    border: 1px solid lightgrey;
}

.grids{
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(10, minmax(1rem,04rem));
    grid-template-rows: repeat(20, minmax(1rem,04rem));
    border: 1px solid lightgrey;
}

.grids div{
    border: 1px solid lightgrey;

}
.new-grids{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(10, minmax(1rem,04rem));
    height: auto;
}
.new-grids div{
    border: 1px solid lightgrey;

}
.score-level{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.score-level .score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;

}

.score-level .score h1,.score-level .level h1{
    font-size: 2rem;
}

.score-level .level{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}


.high-score-section{
    box-shadow: 1px 1px 3px var(--black);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.high-score-btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.high-score-section h4{
    font-size: 2rem;
    text-transform: capitalize;
}

.high-score-btn button{
    background-color: var(--danger);
    color: var(--white);
    padding: 0.3rem 1.6rem;
    text-transform: capitalize;
    border: none;
    box-shadow: 1px 1px 3px var(--black);
    cursor: pointer;
}

.display-none{
    display: none !important;
}

.display-flex{
    display: flex !important;
}

.reset-score-popup{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.673);
    z-index: 1;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 481px)and (max-width: 900px){
    section{
        width: 50%;
        height: auto;
    }
    main{
        height: 65vh;
    }
    .grids{
        grid-template-columns: repeat(10, minmax(1rem,04rem));
    }
    .new-grids{
        grid-template-columns: repeat(10, minmax(0rem,04rem));
    }
    footer{
        display: flex;
    }
    .tetriminoes{
        width: 50%;
    }
    .buttons{
        width: 6rem;
        position: relative;
        margin: 0px auto 0.2rem auto;
        display: block;
    }
    

}
@media only screen and (max-width: 480px) {
    
    ul li{
        width: auto;
        font-size: medium;
        font-weight: 200;
    }
    main{
        height: 70vh;
    }
    header{
        padding: 0.5rem;

    }

    header h1{
        font-size: 1.2rem;
        width: 7rem;
    }
    section{
        width: 50%;
        height: auto;
    }
    .grids{
        grid-template-columns: repeat(10, minmax(0rem,04rem));
    }

    .new-grids{
        grid-template-columns: repeat(10, minmax(0rem,04rem));
    }
    nav h1{
        font-size: 2rem;
    }
    footer{
        display: flex;
    }

    .buttons{
        width: 6rem;
        position: relative;
        margin: 0px auto 0.2rem auto;
        display: block;
    }
    section{
        width: 90%;
    }
    .tetriminoes{
        width: 90%;
    }
}